@font-face {
    font-family: 'FreightDispProBook';
    src: url('FreightDispProBook-Regular.eot');
    src: url('FreightDispProBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightDispProBook-Regular.woff2') format('woff2'),
        url('FreightDispProBook-Regular.woff') format('woff'),
        url('FreightDispProBook-Regular.ttf') format('truetype'),
        url('FreightDispProBook-Regular.svg#FreightDispProBook-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

